/*****************body*******************/
body {
    margin: 0px;
}
.container1 {
    background-image: url(img/background.jpg);
    margin: 0px;
    padding-bottom: 100px;
}

/*****************CONTAINER 1*******************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e004d;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.logo {
    font-size: 30px;
    margin: 0px;
    font-family: 'Comfortaa';
    padding-left: 15px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa';
    padding-right: 15px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    margin: auto;
    transform: translateY(400px);
    margin-top: 180px;
    animation: float_arrow 2s ease-in-out infinite;
  }

.dialogue_aleix {
    text-align: center;
    box-shadow: #000000;
    width: 15%;
    
    display: flex;
    font-family: 'Comfortaa';
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 1px;
    justify-content: center;
    transform: translateY(-0px);
    box-shadow: 0px 5px 12px 0 rgba(5, 5, 5, 0.418);

}

.dialogue_pau {
    text-align: center;
    box-shadow: #000000;
    width: 17%;
    
    display: flex;
    font-family: 'Comfortaa';
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 1px;
    justify-content: center;
    transform: translateY(-0px);
    box-shadow: 0px 5px 12px 0 rgba(5, 5, 5, 0.418);
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;   
    border-left: 60px solid rgb(255, 255, 255);
  }
/*****************IMAGES*******************/
.profiles {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    
}
.profile_aleix {
    text-align: center;
    font-family: Comfortaa;
    margin-right: 120px;
    font-weight: 1000;
    
}
.profile_pau {
    font-family: Comfortaa;
    font-weight: 1000;

}
.profile_pic{
    border-radius: 90%;
    width: 200px;
    border-color: #000000;
    border: 3px white solid;
    overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	
}
.profile_pic.stay_up {
	transform: translatey(-10px);

}
.profile_pic.stay_down {
	transform: translatey(0px);

}

.profile_pic.play_up {
    animation: half_float 0.25s ease-in 1;
}
.profile_pic.play_down {
    animation: half_float 0.25s ease-out 1;
}

@keyframes full_float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
}

@keyframes half_float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
}
@keyframes float_arrow {
	0% {
        opacity: 0.3;
		transform: translatey(0px);
	}
	50% {
        opacity: 1;
		transform: translatey(-10px);
	}
	100% {
        opacity: 0.3;
		transform: translatey(0px);
	}
}

/*****************INTRODUCTION*******************/

.intro1 {
    text-align: center;
    box-shadow: #000000;
    width: 60%;
    margin: auto;
    display: flex;
    font-family: 'Comfortaa';
    font-size: 25px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 10px 8px 0 rgba(5, 5, 5, 0.418);
}
/*****************split1*******************/
.split1 {
padding: 200px;
    background: #1c6cff;
  background-image: -webkit-linear-gradient(top, #1c6cff, #ffffff);
  background-image: -moz-linear-gradient(top, #1c6cff, #ffffff);
  background-image: -ms-linear-gradient(top, #1c6cff, #ffffff);
  background-image: -o-linear-gradient(top, #1c6cff, #ffffff);
  background-image: linear-gradient(to bottom, #1c6cff, #ffffff);
}
/*****************CONTAINER 2*******************/
.container2 {
    background-color: #ffffff;
    padding-bottom: 250px;
}
.projects {
    display: flex;
    justify-content: center;
}
.project {
    text-align: center;
    width: 330px;
    margin-left: 70px;
    margin-right: 70px;
    color: #000000;
    border: #000000;
}
.p1 {
    width: 350px;
}
.p2 {
    width: 350px;
}
.p3 {
    width: 350px;
}
