/*****************body*******************/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
body {
    margin: 0px;

}

.container1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(img/background.jpg);
    margin: 0px;
    padding-bottom: 100px;
}

/*****************CONTAINER 1*******************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.logo {
    font-size: 30px;
    margin: 0px;
    font-family: 'Comfortaa';
    padding-left: 15px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa';
}

.navbar-links li {
    margin-right: 10px;
}

.navbar-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}
.navbar-links li a:hover {
    background-color: rgba(169, 169, 169, 0.2);
    padding: 15px;
    border-radius: 20px;
}
.arrow-down {
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    margin: auto;
    animation: float_arrow 2s ease-out infinite;
}

.arrow-padding{
    position: relative;
    padding-bottom: 18px;
    padding-top: 32px;
    margin-top: 208px;
    border-radius: 15px;
    opacity: 1;
    z-index: 10;
    cursor: pointer;
    transition: all 0.25s;
    
}

.arrow-padding:hover{
    background-color: rgba(104, 80, 109, 0.253);
    box-shadow: 0px 0px 5px 10px rgba(104, 80, 109, 0.253);
}

/*****************IMAGES*******************/
.profiles {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    z-index: 10;
    
}
.profile_aleix {
    text-align: center;
    font-family: Comfortaa;
    margin-right: 120px;
    font-weight: 1000;
}
.profile_pau {
    font-family: Comfortaa;
    font-weight: 1000;
}
.profile_pic{
    border-radius: 90%;
    width: 200px;
    border-color: #000000;
    border: 3px white solid;
    overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	cursor: pointer;
}
.profile_pic.stay_up {
	transform: translatey(-3px);

}
.profile_pic.stay_down {
	transform: translatey(0px);

}

.name{
    cursor: default;
}

@keyframes full_float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
}

@keyframes half_float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
}
@keyframes float_arrow {
	0% {
        opacity: 0.2;
		transform: translatey(0px);
	}
	50% {
        opacity: 1;
		transform: translatey(-10px);
	}
	100% {
        opacity: 0.2;
		transform: translatey(0px);
	}
}
/*************************DIALOGUES********************/
.dialogue_box {
    transition: opacity 0.5s;
    opacity: 0;
    cursor: default;
}

.aleix_dialogue {
    padding: 20px;
    position: absolute;
    top: 10px;
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: #000000;
    font-family: 'Comfortaa';
    font-size: 15px;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    box-shadow: 0px 5px 40px 0 rgba(5, 5, 5, 0.418);
    z-index: 2;
    cursor: default;
}

.shown{
    opacity: 1;
}

.arrow-right {
    width: 0; 
    height: 0; 
    position: absolute;
    bottom: 0px;
    right: -27px;
    border-top: 30px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 50px solid rgb(255, 255, 255);
    z-index: -1;
}

.pau_dialogue {
    padding: 20px;
    position: absolute;
    margin-top: 18%;
    margin-left: 66%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: #000000;
    font-family: 'Comfortaa';
    font-size: 15px;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    box-shadow: 0px 5px 40px 0 rgba(5, 5, 5, 0.418);
    opacity: 1;
    cursor: default;
}

.info-box{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    position: absolute;
    margin-left: 37.9%;
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: #000000;
    font-family: 'Comfortaa';
    font-size: 15px;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    box-shadow: 0px 5px 40px 0 rgba(5, 5, 5, 0.418);
    opacity: 0.1;
    transition: all 0.5s;
    cursor: default;
}
.info-box:hover{
    opacity: 0.6;
}

.arrow-left{
    position: absolute;
    width: 0; 
    height: 0;
    top: 0;
    left: -29px;
    border-top: -30px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:30px solid rgb(255, 255, 255); 
    
}
/*****************INTRODUCTION*******************/

.intro1 {
    text-align: center;
    box-shadow: #000000;
    width: 66%;
    margin: auto;
    display: flex;
    font-family: 'Comfortaa';
    font-size: 25px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 10px 8px 0 rgba(5, 5, 5, 0.418);
    cursor: default;
}
/*****************CONTAINER 2*******************/
.title_projects {
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 50px;
    padding-top: 100px;
}
.container2 {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 100px;
}
.projects {
    display: flex;
    justify-content: center;
}
.button1 {
    margin: 30px;
    border-width: 10px;
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000000;
    background: #ffffff;
    line-height: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: rgb(69, 128, 255) -2px -2px 0px 2px, rgb(211, 146, 255) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.3s;
}
.button1:hover {
        box-shadow: rgb(211, 146, 255) 0px 0px 0px 4px, rgb(69, 128, 255) -2px -2px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.03);
    }
    
.project {
    width: 350px;
}
.p1 {
    width: 350px;
    border-radius: 20px;
}
.p2 {
    width: 350px;
    border-radius: 20px;
}
.p3 {
    width: 350px;
    border-radius: 20px;
}
.container2{
    position: relative;
}
/************************ABOUT*************************/
.about {
    padding: 50px;
}
.about_p1 {
    display: flex;
    
}
